body {
  width: 95%;
  height: 100%;
  background: linear-gradient(
          45deg,
          #d3d3d3,
          #eeeeee
        );
  background-size: 100% 30px;
}

img {
  display: block;
  height: 100px;
  width: 380px;
  margin: 0 auto;
}

.bts {
  margin-left: 35px;
  display: flex;
  justify-content: space-between;
  padding: 60px 80px 60px;
  margin-top: 22px;
}

.button a {
  color: inherit; 
  text-decoration: none;
  
}

.button {
  margin-right: 20px;
  font-family: "Unbounded", sans-serif;
  font-weight: 800;
  padding: 1em 1em;
  border: none;
  border-radius: 5px;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #ff7220;
  transition: all 1000ms;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #ff7220;
}

button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #ff7220;
  box-shadow: 4px 5px 17px -4px #ff7220;
}

button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ff7220;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

button:hover::before {
  width: 240%;
}


h1{
  font-family: "Unbounded", sans-serif;
  font-weight: 800;
  color: #ff5f20;
  margin-left: 450px;
  padding: 5px 5px 5px;
  margin-top: 60px;
  letter-spacing: 2px;
text-shadow: rgb(43, 43, 43) 1px 1px 2px;
}

p{
    font-family: "Unbounded", sans-serif;
    font-weight: 800;
    color: #852905;
    margin-left: 120px;
    padding: 5px 5px 5px;
    margin-top: 35px;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 1.5;
  
}
h1#CMP{
  font-family: "Unbounded", sans-serif;
  font-weight: 800;
  color: #ff5613;
  margin-left: 400px;
  padding: 5px 5px 5px;
  margin-top: 130px;
  letter-spacing: 2px;
}


@media screen and (max-width: 768px) {
  .bts {
      flex-direction: column; 
      align-items: center; 
      margin: 0 auto;
  }

  .button {
      margin-bottom: 20px;
      margin-right: 0px;
  }

  img {
      margin-top: 20px;
      width: 80%;
      height: 25%;
      margin-left: 0 auto
  }
h1{
  margin-left: 50px;
  font-size: 20px;
  margin-top: 4px;
  letter-spacing: 2px;
}
p{
  font-size: 12px;
  margin-top:20px;
  margin-left: 22px;
  line-height: 1.4;
}
h1#CMP{
  margin-left: 40px;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 25px;
}

}
